:root 
{--time:0.98s cubic-bezier(.88,.89,.49,1.14);}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #e5b1e5;
    font-family: Inter, sans-serif;
    font-weight: 400;
    letter-spacing: 0rem;
}

.contenedor {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: auto; 
}

.headerImg{
    position: absolute;
}

.headerImg > img{
    position: relative;
    left: 84px;
    top: 40px;
    width: 31.09px;
    height: 48px;
    animation: rotacion var(--time);
}

@keyframes rotacion {
    0%{
        left:-40px;
        opacity: 0;
        transform: rotate(0deg);
    }
    100%{
        left: 84px;
        opacity: 1;
        transform: rotate(360deg);
    }
}

main{
    margin-top: 10px;
    height: 90%;
}

.encriptador{
    margin: 0 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: 3px solid #d08ad1;
    
}

.encriptadorForm{
    flex-basis: calc(65% - 80px);
}

.textIn{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textIn > textarea{
    flex-basis: 100%;
    margin-top: 168px;
    font-family: Inter, sans-serif;
    font-size: 32px;
    line-height: 48px;
    color:#ffffff;
    background-color: transparent;
    resize: none;
    border: none;
    animation: fade_in var(--time);
}

@keyframes fade_in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


.textIn > textarea:focus{
    outline: none
}

.textIn > textarea::-webkit-input-placeholder {
    color: #ffffff;
}

.textInInfo{
    width: 100%;
    margin-bottom: 72px;
    position: relative;
    animation: slide_info var(--time);
}

@keyframes slide_info {
    0%{
        left: -1400px;
    }
    100%{
        left: 0;
    }
}
.info{
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.info > p{
    margin-left: 8px;
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.info > img{
    width: 16px;
    height: 16px;
    object-fit: cover;
    display: inline-block;
}

.textInBtns{
    display: flex;
    width: 100%;
}

.textInBtns > input{
    flex-basis: 50%;
    height: 67px;
    border: 1px solid #e5b1e5;
    border-radius: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transform: scale(1);
    transition: transform 0.2s; 
}

.textInBtns > input:hover{
    transform: scale(1.05);
}

.textInBtns > input:first-child{
    margin-right: 12px;
    background-color: #8c6598;
    color: #fdfdfd;
}

.textInBtns > input:first-child:active{
    background-color: #5f496d;
}

.textInBtns > input:last-child{
    margin-left: 12px;
    background-color:#8c6598;
    color: #ffffff;
}

.textInBtns > input:last-child:active{
    color: #FFF;
    background-color: #5f496d;
}

.textOutSec{
    margin: 40px 40px;
    flex-basis: calc(35% - 80px);
}

.outContent{
    position: relative;
    height: 100%;
    border: 2px solid #8c6598;
    background-color: #d08ad1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    animation: slide_out var(--time);
}

@keyframes slide_out {
    0%{
        right: -450px;
    }

    100%{
        right: 0;
    }
}

.content{
    height: 100%;
    margin: 40px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content > p:nth-child(2){
    margin-top: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #f6f6f6;
}

.content > p:nth-child(3){
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #f6f6f6
}

.textOutImg{
    text-align: center;
}

.textOutImg > img{
    width: 336px;
    height: 304px;
    object-fit: cover;
    display: inline-block;
    border: 5px solid #e5b1e5;
}

#texto_out{
    flex-basis: calc(100% - (67px + 32px));
    font-family: Inter, sans-serif;
    font-size: 24px;
    line-height: 36px;
    color:#f6f6f6;
    background-color: transparent;
    resize: none;
    border: none;
}

#copy{
    height: 67px;
    margin-top: 32px;
    background-color: #8c6598;
    border: 1px solid #e5b1e5;
    border-radius: 24px;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transform: scale(1);
    transition: transform 0.2s; 
}

#copy:hover{
    transform: scale(1.05);
}

#copy:last-child:active{
    color: #FFF;
    background-color: #5f496d;
}

.invisible{
    display: none;
}

@media screen and (max-height: 600px) {
    .textOutImg > img{
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-height: 500px) {
    .textOutImg > img{
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 900px) {
    .encriptador{
        height: 300vh;
        flex-direction: column;
        width: calc(100% - 80px);
        align-items: center;
        justify-content: flex-start;
    }

    .encriptadorForm {
        margin: 0;
        width: calc(100% - 80px);
        flex-basis: 50%;
    }

    .textIn > textarea {
        height: 700px;
    }

    .textInInfo{
        margin-bottom: 0;
    }

    .textOutSec {
        margin: 40px 40px;
        width: calc(100% - 80px);
        flex-basis: 50%;
    }

    .textOutImg > img{
        display: none;
    }

    .content > p:nth-child(2){
        margin-top: 0;
    }
    
    .content > p:nth-child(3){
        margin-top: 16px;
    }
    
}

@media screen and (max-width: 400px) {
    .encriptador{
        margin: 0 16px;
        width: calc(100% - 32px);
    }

    .textOutSec {
        width: calc(100% - 32px);
    }

    .textInBtns{
        flex-direction: column;
    }

    .textInBtns > input {
        flex-basis: 50%;
        padding: 23px 0
    }

    .textInBtns > input:first-child {
        margin-right: 0;
        margin-bottom: 12px;
    }
    .textInBtns > input:last-child {
        margin-top: 12px;
        margin-left: 0;
    }
}

.pie-pagina{
   /*  position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #8c6598;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fdfdfd;
    font-size: 12px; */

    margin: 1m 0 0 0;
    padding: 10px 0;
    font-size: 12px;
    
    color: #fdfdfd;
    text-align: center;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.svg{
    width: 25px;
    margin: 5 25px;
    padding: 5px 5px;
    border-radius: 50%; 
    
}

@media screen and (max-width: 400px) {
    .pie-pagina{
        font-size: 10px;
    }
}
    .svg{
        width: 20px;
        margin: 5 20px;
        padding: 5px 5px;
        border-radius: 50%;
    }
    